@import './reset';
@import './variables/global';
@import './themes/dark';
@import './themes/normal';
@import './themes/orange';

@font-face {
    font-family: RobotoMono;
    src: url("../../shared/assets/fonts/RobotoMono.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font: var(--font-m);
    color: var(--primary-color);
}

body.hidden {
    overflow: hidden;
}

h1 {
    margin-bottom: 20px;
    line-height: 36px;
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

a {
    text-decoration: none;
}

*::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg);        /* цвет зоны отслеживания */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--inverted-primary-color);    /* цвет бегунка */
    border-radius: 20px;       /* округлось бегунка */
    border: 2px solid var(--primary-color);  /* отступ вокруг бегунка */
}