@import './reset';
@import './variables/global';
@import './themes/dark';
@import './themes/normal';
@import './themes/orange';

@font-face {
    font-family: RobotoMono;
    src: url("../../shared/assets/fonts/RobotoMono.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font: var(--font-m);
    color: var(--primary-color);
}

body.hidden {
    overflow: hidden;
}

h1 {
    margin-bottom: 20px;
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}