.CommentsItem {
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

.user {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.avatar {
    margin-right: 10px;
}