.LoginForm {
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
}

.input {
    margin-bottom: 15px;

    &:last-of-type{
        margin-bottom: 25px;
    }
}

.loginBtn {
    margin-left: auto;
}