.ArticlesPageFilters {
    margin-bottom: 20px;
}

.sortAndViewType {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.sortWrapper {
    display: flex;
}

.sortInput {
    margin-right: 10px;
}

.searchInput {
    margin-bottom: 15px;
}