.ArticleDetails {
    min-height: 100%;
}

.avatar {
    margin: 0 auto;
    margin-bottom: 30px;
}

.articleInfo {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 5px;
}

.block {
    margin-top: 16px;
}