body.app_dark_theme {
    --bg-color: #3b3c62;
    --inverted-bg-color: #EEEEF6;
    --primary-color: #EEEEF6;
    --secondary-color: #EEEEF6;
    --error-color-light: rgb(255 41 41);
    --error-color-dark: rgb(165 0 0);
    --inverted-primary-color: #3D5066;
    --inverted-secondary-color: #3D5066;
    --overlay-color: rgba(0 0 0 / 60%);

    // skeleton
    --skeleton-color: #484a78;
    --skeleton-shadow:#54578c;

    // code
    --code-bg: #3D5066;
}