body.app_light_theme {
    --bg-color: #EEEEF6;
    --inverted-bg-color: #3b3c62;
    --primary-color: #3b3c62;
    --secondary-color: #3D5066;
    --error-color-light: rgb(255 60 60);
    --error-color-dark: rgb(203 1 1);
    --inverted-primary-color: #EEEEF6;
    --inverted-secondary-color: #EEEEF6;
    --overlay-color: rgba(0 0 0 / 40%);

    // skeleton
    --skeleton-color: #c7c6c6;
    --skeleton-shadow:#dfdede;

    // code
    --code-bg: #d2d2d8;

    // articles
    --card-bg: #c7c6c6;
}