body.app_orange_theme {
    --bg-color: #ffb610;
    --inverted-bg-color: #D32717;
    --primary-color: #D32717;
    --secondary-color: #FFF7E5;
    --error-color-light: rgb(255 60 60);
    --error-color-dark: rgb(203 1 1);
    --inverted-primary-color: #FFF7E5;
    --inverted-secondary-color: #FFF7E5;
    --overlay-color: rgba(0 0 0 / 40%);

    // skeleton
    --skeleton-color: #fbc23c;
    --skeleton-shadow:#facd65;

    // code
    --code-bg: #FFF7E5;
}