.AppButton {
    cursor: pointer;
    color: var(--secondary-color);
    overflow: hidden;
    transition: transform .3s ease;
    display: flex;
    align-items: center;

    &:disabled {
        opacity: .4;
    }

    &:hover {
        transform: scale(1.09);
    }
}


.clear,.clearInverted {
    margin: 0;
    border: none;
    outline: none;
    background: none;
}

.clearInverted {
    color: var(--inverted-primary-color);
}

.outline {
    margin: 0;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background: none;
    outline: none;
}

.outline_red {
    margin: 0;
    border: 1px solid var(--error-color-light);
    color: var(--error-color-light);
    border-radius: 5px;
    background: none;
    outline: none;
}

.background {
    background: var(--bg-color);
    color: var(--primary-color);
    border: none;
}

.backgroundInverted {
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    border: none;
}

.square.sizeS {
    width: var(--font-line-s);
    height: var(--font-line-s);
}

.square.sizeM {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.sizeL {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.sizeXL {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.sizeS {
    font-size: var(--font-size-s);
    padding: 5px 10px;
}

.sizeM {
    font-size: var(--font-size-m);
    padding: 5px 15px;
}

.sizeL {
    font-size: var(--font-size-l);
    padding: 7px 18px;
}

.sizeXL {
    font-size: var(--font-size-xl);
    padding: 10px 20px;
}

.square {
    width: 40px;
    height: 40px;
    padding: 0;
}