.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
}

.links{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
}

.item {
    text-decoration: none;
    color: var(--primary-color);
}

.item:not(:last-child) {
    margin-right: 20px;
}

.appName {
    font-weight: bold;
    width: var(--sidebar-width-collapsed);
    text-align: center;
}